node_modules
**/node_modules
.venv
_venv
__pycache__
**/__pycache__
*.pyc
emosense-dataset
**/emosense-dataset
scratch
backend/emosense.db
backend/*.env
backend/env.example.txt
frontend/.env
frontend/dist
.git
.github
*.md
